# Files being edited
*~

# IDE
.vscode/

# make and build files
*.lst
*.o
*.eep
*.lss
*.map
*.sym

# Executables
*.exe
specs
tests/test_json_insertion
tests/test_spec
tests/test_hstable

# Valgrind
vgcore.*

# Output files
*.csv
