# Files being edited
*~

# IDE
.vscode/

# make and build files
.debug
*.eep
*.lss
*.lst
*.map
*.o
*.sym

# Executables
*.exe
specs
tests/test_json_insertion
tests/test_vocabulary
tests/test_hstable
tests/test_spec
tests/test_clique

# Valgrind
vgcore.*

# Output files
*.csv
