# Files being edited
*~

# IDE
.vscode/

# make and build files
.debug
*.eep
*.lss
*.lst
*.map
*.o
*.sym

# Executables
*.exe
specs
tests/test_*

# Valgrind
vgcore.*

# Output files
*.csv
tests/output
